.navbar {
  background-color: #5F434B;
}

.navbar a {
  color: white;
  font-weight: bold;
}

.navbar a.navbar-item:hover {
  background-color: initial;
  color: white;
} 

.navbar-dropdown {
  background-color: #5F434B;
}

a.navbar-link {
  background-color: initial !important; /* important to override multiple media query styles in bulma */
  color: white !important; 
}

a.navbar-item:hover {
  text-decoration: underline;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: white;
}

.navbar-start,
.navbar-dropdown {
  font-size: 1.1rem;
}